
/*Activity 9*/
.us {
    fill: #bdc7b3; 
    stroke: #757575;
    stroke-width: 1px;
}

.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
    background:#a9b4ca;
}

/* text style - from activity 8, just for safe-keeping*/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
}

.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}